// Variables
$text-color: rgb(56, 46, 46);
$big-text-color: #162447;
$backgroundColor: #eee;
$top-background-color: linear-gradient(153deg, #162447, #673ab7);
$main-color: #673ab7;
$title-background-color: rgba(253, 249, 249, 0.096);
$pinkColor: #e43f5a;
$poppins: "Poppins", sans-serif;
$japaneseText: "Kosugi Maru", sans-serif;

// Methods
@mixin marginBox {
  margin: 1rem;
}

@mixin flex($direction, $justify, $height) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
  height: $height;
}

@mixin setWidth {
  width: 80%;
  margin: 0 auto;
}

@mixin hoverOpacity {
  &:hover {
    opacity: 0.3;
  }
}

@mixin flexItems {
  &:hover img {
    opacity: 0.55;
  }

  img {
    width: 90%;
    height: auto;
    border-radius: 20px;
  }
}

@mixin showMore {
  &:hover .show-more {
    opacity: 1;
  }
  .show-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: $text-color;
    font-family: $japaneseText;
    font-weight: bolder;
  }
}

@mixin alignCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transformReset {
  transform: translate(0, 0) !important;
  opacity: 1 !important;
}

// Codes

// Top Container
#slideInElement {
  opacity: 0;
}
.within-window {
  @include transformReset();
}

.top-container {
  position: relative;
  overflow-x: hidden;
  background: $top-background-color;
  @include flex(row, center, 100vh);

  .hover-card {
    width: 100%;
    height: 50%;
    @include flex(column, center, 65vh);

    h1 {
      display: inline-block;
      color: $backgroundColor;
      animation-name: text-up;
      animation-duration: 2s;
      font-weight: bold;
    }
    small {
      color: $backgroundColor;
      animation-name: text-zoom;
      animation-duration: 1.5s;
      animation-delay: 0.5s;
    }
  }
  svg {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  i.fa-arrow-down {
    color: $backgroundColor;
    font-size: 2.5rem;
    position: absolute;
    bottom: 2rem;
    animation: upDown 1s linear infinite;
    cursor: pointer;
    pointer-events: all;
  }
}

@keyframes text-up {
  from {
    transform: translate(0, 30px);
    opacity: 0.1;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes text-zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes upDown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 1rem);
  }
  85% {
    transform: translate(0, -1rem);
  }
}

// About Me
.about-me-container {
  width: 60vw;
  padding: 4rem 2rem;
  margin: 0 auto;

  .about-me-box {
    // display: contents;
    transform: translateX(-100vw);
    transition: all 0.5s ease-in-out;

    .my-skills-container {
      @include flex(column, center, auto);
      width: 100%;
      margin: 2rem 0 0 0;
      height: 30vh;

      transform: translateX(200vw);
      transition: all 0.5s ease-in-out;

      h4 {
        margin-top: 2rem;
      }

      .my-skills {
        @include flex(row, space-around, 20vh);
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

        li {
          @include flex(column, center, 6rem);
          min-width: 3rem;
          height: 80%;

          &:hover i {
            transform: rotate(360deg) scale(1.25);
          }
          i {
            font-size: 4.5rem;
            color: $pinkColor;
            transition: 0.5s;
          }

          h4 {
            margin-top: 0;
          }
        }
      }
    }
  }
}

// My projects
.my-projects {
  .flex-box {
    min-height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .pro-container {
      width: 20rem;
      text-align: center;
      padding: 0 1rem;
      transition: transform 0.3s ease-out;
      position: relative;
      margin-bottom: 2rem;

      @include flexItems();
      @include showMore();

      &:hover {
        animation: scaleTransform 0.3s;
      }

      img {
        width: 100%;
        height: 378.396px;
        object-fit: cover;
        object-position: top;
        border: $big-text-color solid 2px;
      }
    }
    .pro1-container {
      transform: translate(-100vw, -20vh);
    }
    .pro2-container {
      transform: translate(100vw, -20vh);
      transition-delay: 0.4s;
    }
    .pro3-container {
      transform: translate(100vw, -20vh);
      transition-delay: 0.8s;
    }
    .pro4-container {
      transform: translate(-100vw, 20vh);
    }
    .pro5-container {
      transform: translate(-100vw, 20vh);
      transition-delay: 0.4s;
    }
    .pro6-container {
      transform: translate(100vw, 20vh);
      transition-delay: 0.8s;
    }
  }
}

@keyframes scaleTransform {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}

// 対応内容
.correspondence-contents {
  width: 94vw;
  margin: 0 auto;

  img {
    display: inline-block;
    width: 45vw;
    border-radius: 10px;

    @include hoverOpacity();
  }

  .element {
    @include flex(row, center, auto);
    transition: transform 0.5s ease-out;

    .element-inside-container {
      position: relative;

      h2 {
        font-size: 2rem;
        @include alignCenter();
        left: 50%;
        color: $pinkColor;
        white-space: pre;
      }
    }

    .ccText {
      padding: 3rem 5rem 0 5rem;

      a {
        margin-top: 1em;
        display: block;
        text-align: center;
        color: $main-color;
        cursor: pointer;
        pointer-events: all;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .first-element,
  .third-element {
    transform: translateX(-100vw);
  }
  .second-element {
    flex-direction: row-reverse;
    transform: translateX(100vw);
  }
}

.payment {
  @include setWidth();

  .payment-element {
    margin-bottom: 2rem;

    transform: translateX(-100vw);
    transition: transform 0.5s ease-out;
  }
  .payment-element:nth-child(3) {
    transform: translateX(100vw);
  }

  table {
    width: 90%;
    height: auto;
    margin: 0 auto;

    border-spacing: 0px;
    border: 2px $main-color solid;
  }

  h3 {
    color: $pinkColor;
  }
}

/*----------------------------------
---------- Media Queries ------------
-----------------------------------*/

@media screen and (max-width: 768px) {
  .about-me-container {
    width: 70vw;
    padding: 4rem 0;

    .my-skills-container {
      .my-skills {
        justify-content: space-between;
        li {
          i {
            font-size: 2.5rem;
          }
        }
      }
    }
  }

  .correspondence-contents {
    img {
      width: 85vw;
    }
    .element {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 568px) {
  .about-me-container {
    .my-skills-container {
      .my-skills {
        li {
          height: 6em;

          h4 {
            margin-top: 0;
          }
        }
      }
    }
  }

  .payment {
    width: 95%;
  }
}

@media all and (-ms-high-contrast: none) {
  .top-container {
    overflow-y: hidden;
    svg {
      bottom: -200px;
    }
  }
}

@media screen and (max-width: 768px) and (-ms-high-contrast: none) {
  .top-container {
    svg {
      bottom: -350px;
    }
  }

  // .about-me-container {
  //   .my-skills-container {
  //     -ms-grid-columns: 1fr 1fr;
  //     -ms-grid-rows: auto auto;

  //     .pro1-container {
  //       -ms-grid-column: 1;
  //       -ms-grid-row: 1;
  //     }
  //     .pro2-container {
  //       -ms-grid-column: 2;
  //       -ms-grid-row: 1;
  //     }
  //     .pro3-container {
  //       -ms-grid-column: 1;
  //       -ms-grid-row: 2;
  //     }
  //   }
  // }
}

@media screen and (max-width: 568px) and (-ms-high-contrast: none) {
  .top-container {
    svg {
      bottom: -600px;
    }
  }

  // .about-me-container {
  //   .my-skills-container {
  //     -ms-grid-columns: 1fr;
  //     -ms-grid-rows: auto auto auto;

  //     .pro1-container {
  //       -ms-grid-column: 1;
  //       -ms-grid-row: 1;
  //     }
  //     .pro2-container {
  //       -ms-grid-column: 1;
  //       -ms-grid-row: 2;
  //     }
  //     .pro3-container {
  //       -ms-grid-column: 1;
  //       -ms-grid-row: 3;
  //     }
  //   }
  // }
}
