// imports
@import "./header";
@import "./main";
@import "./footer";

// Variables
$text-color: rgb(56, 46, 46);
$backgroundColor: #eee;
$poppins: "Poppins", sans-serif;
$main-color: #673ab7;
$japaneseText: "Kosugi Maru", sans-serif;
$pinkColor: #e43f5a;

// Methods
@mixin marginBox {
  margin: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Poppins", sans-serif;
  background: $backgroundColor;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  color: $text-color;
  font-family: "Kosugi Maru", sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

h2,
h3,
h4 {
  text-align: center;
  color: $big-text-color;
}

small {
  color: $big-text-color;
  font-family: $poppins;
  font-weight: 800;
}

hr {
  border-color: $main-color;
  border-width: 1px 0 0 0;
  height: 1px;
  width: 40vw;
  margin: 3rem 30vw;
}

table,
th,
td {
  border: 1px solid $text-color;
  border-collapse: collapse;
  text-align: center;
}

table {
  table-layout: fixed;
}

th,
td {
  padding: 1rem;
}

label {
  color: #fff;
  font-family: $japaneseText;
}

input,
textarea {
  display: inline-block;
  border-radius: 7px;
  border: none;
  outline: none;
  padding: 0.2rem 0.3rem;
  color: $text-color;
  font-family: $japaneseText;
  resize: none;

  &:valid {
    border: 2px solid rgb(46, 202, 25);
  }
}

form {
  display: contents; //This  s Fantastic
}

.big-text {
  text-align: center;
  color: $big-text-color;
  margin: 2rem 0 1rem 0;
}

button {
  border-radius: 7px;
  color: #fff;
  background: $pinkColor;
  outline: none;
  border: none;
  font-family: $japaneseText;
  cursor: pointer;
  pointer-events: all;

  &:hover {
    background: #d43953;
  }
}

.margin-box {
  @include marginBox();
}

.japanese-big-text {
  font-size: 1.5rem;
}

.japanese-text {
  font-family: $japaneseText;
}

.pointer-none {
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 568px) {
  p {
    font-size: 1rem;
  }
}
